<form class="ui stacked segment form" action="/clublist/{{clublist.id}}/addclub" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Position</label>
      <input placeholder="Title" type="text" name="position" autofocus required>
    </div>
  </div>
  <button class="ui blue submit button">Add Player</button>
</form>


