{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    We are a small applications development team, based in Clonmel, Tipperary.
    We are a team of five people, we would be extremely generous if you would contact us or tell you freinds about us, as we are looking to grow are business.
    Thank you for visiting us!
     </p>
  <h1>
    Company CEO
  </h1>
    <img src="https://cdn.glitch.com/098f794e-e759-4ff6-b615-2407adbf5be7%2Fimage%20me%20b%20and%20w.jpg?1552230451415" height="240px" width="230px" alt="Photo of the Author">
  <hr>
  <p id="about">
    <b>Email:</b>  conormurphy255@gmail.com
    <br>
    <b>Phone No.:</b>  083-811-3945
    <br>
    <b>Website:</b>  <a href="www.conormurphymedia.com">conormurphymedia.com</a>
  </p>
  <hr>
 <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="427" id="gmap_canvas" src="https://maps.google.com/maps?q=clonmel&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{text-align:right;height:427px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:427px;width:1080px;}</style>Google Maps by <a href="https://www.embedgooglemap.net" rel="nofollow" target="_blank">Embedgooglemap.net</a></div>
  <style>
img {
  border-radius: 50%;
  border-thickness: 2px;
  color: black;
   border-style: solid;
}
      #about {
        display:inline-block;
        margin-left: 20px;
        position:relative;
      }
</style>
    
 
</section>