{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to my app.
  </h1>
  <p>
    This a small app to let you find your favourite premier league football players and view current premier league rankings.
  </p>
  <img src="https://images2.minutemediacdn.com/image/upload/c_fill,w_912,h_516,f_auto,q_auto,g_auto/shape/cover/sport/afc-bournemouth-v-brighton-and-hove-albion-premier-league-5b220f6b7134f60282000001.jpg"alt="Alexandre Lacazette and Pierre-Emerick Aubameyang">
</section>